# Ignore IDE specific files
.idea/

# Ignore Python files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl

# Ignore Virtualenv / Conda
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# Cache
*.cache/
.cache/
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.pytype/
.dmypy.json
.pyre/

# System and Logs
.DS_Store
logs/
