* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    color: var(--color-text);
    background: var(--gradient-background);
    line-height: 1.65;
}

p {
    font-size: 1em;
    line-height: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-secondary);
}