@import "modules/variables.css";
@import "modules/base.css";
@import "modules/layout.css";
@import "modules/components.css";
@import "modules/header.css";
@import "modules/footer.css";

/* Page Specific Styles */
@import "pages/home.css";
@import "pages/research.css";
@import "pages/team.css";
@import "pages/news.css";
@import "pages/contact.css";
@import "pages/event.css";